/*************** Angular JS Animate & Cloack ******************/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.fade-in-out {
    transition: 1s linear all;
    opacity: 1;
}
.fade-in-out.ng-hide {
    opacity: 0;
}


/************************ Form Itinerario Styles **************************/
#cotizador{
    margin-bottom: 200px;
}
.azul-gradiente{
    border-radius: 2px;
    border: 3px solid #8ED7EC;
    padding: 10px 45px;
    background: #5ec7e5; /* Old browsers */
    background: -moz-linear-gradient(top, #5ec7e5 0%, #14a1cf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5ec7e5 0%,#14a1cf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5ec7e5 0%,#14a1cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ec7e5', endColorstr='#14a1cf',GradientType=0 ); /* IE6-9 */
}
.form-container{
    border-radius: 10px;
    color: #FFFFFF;
}
.azul-click{
    background-color: #26CCFE;
}
.azul-click-text{
    color: #26CCFE;
}
.gray-click-text{
    color: #6B6B6B;
}
.link-hr{
    color: #FFFFFF;
}
.link-hr:hover{
    color: inherit;
    text-decoration:none;
}
#navAuto .fa{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}
.white{
    background-color: #FFF;
}
.invalid-msg{
    color: red;
}

.ribbon{
    position: absolute;
    top:-5px;
    left: -20px;
    width: 50%;
    font-weight: bold;
    color: #FFF;
    padding: 5px 20px;
    text-align: center;
    background-color: #2CA0CF;
    text-shadow: 0px 1px 2px #bbb;
    -webkit-box-shadow: 0px 2px 4px #888;
    -moz-box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 2px 4px #888;
}
.ribbon h2 {
    z-index: 5;
    position: relative;
}
.ribbon::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    z-index: -1;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
}
.ribbon::before{
    content: "";
    transform: skewX(-30grad);
    width: 60%;
    height: 100%;
    position: absolute;
    background: inherit;
    bottom: 0;
    z-index: 2;
    transform-origin: left bottom;
    -webkit-box-shadow: 4px 2px 3px #888;
    -moz-box-shadow: 4px 2px 3px #888;
    box-shadow: 4px 2px 3px #888;
}

select.ng-touched.ng-invalid {
    border: 1px solid pink;
}
select[disabled]{
    background-color: #FFF;
}
::placeholder { color: #f8f9fa; opacity: 1;}
:-ms-input-placeholder {   color: #f8f9fa;}
::-ms-input-placeholder {  color: #f8f9fa;}

.date-input{
    border-left:0;
}
.date-input[readonly]{
    background-color: #FFFFFF;
}
.date-input-icon{
    color: #1FA7D2;
    background-color: #FFFFFF;
}
.gray-rinbbon{
    background-color: #B2B2B2;
    color: #FFF;
}
.gray-rinbbon span{
    color: #3EB2DD;
}
.footer-auto{
    color: white;
    font-size: 0.8em;
}
.left-line{
    border-left: 1px #FFF solid;
}


/*********************** Seleccionar Auto Style *****************************/
.step-2{
    border:1px solid #B2B2B2;
    -webkit-box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75);
}
.step-pill-1{
    background-color: #57C5E8;
    color: #2B819D;
    position: relative;
}
.step-pill h2{
    font-size: 1.6em;
}
.step-pill h2 small{
    font-size: 0.6em;
}

.step-pill-2 h2 {
    transform: skewX(30grad);
}

.step-pill-1::after{
    content: "";
    transform: skewX(-30grad);
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    border-right: 2px solid #4F8DA3;
}
.step-pill-3::after{
    content: "";
    transform: skewX(-60grad);
    width: 90%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: right top;
    border-left: 2px solid #4F8DA3;
}
.step-pill-2{
    background-color: #94D9EE;
    color: #FFF;
    transform: skewX(-30grad);
    border-right: 2px solid #4F8DA3;
    border-left: 2px solid #4F8DA3;
    z-index: 2;
}
.step-pill-3{
    background-color: #88D7EC;
    color: #BCE3F6;
    position: relative;
}
.car-pills .nav-item{
    border:1px #3EB2DD solid;
    position: relative;
}
.car-pills .nav-link:hover{
    background-color: #32B0D9;
    color: #FFF;
}
.car-pills .nav-link.active{
    background-color: #32B0D9;
}
.car-pills .active .circle{
    display: block;
}
.car-pills .circle{
    width: 30%;
    height: 30px;
    position: absolute;
    left: 35%;
    border-radius: 100%;
    bottom: -30%;
    background: #32B0D9;
    z-index: -1;
    display: none;
}
.car-pills .nav-link{
    border-radius: 0;
}


/**************** Footer Style **********************/
footer{
    position: fixed;
    bottom:0;
    background-color: #FFF;
}
.footer-bottom a{
    font-size:0.8em;
    color: #666666;
}
.footer-bottom a:hover{
    text-decoration: none;
}
.footer-bottom .row .col-md-6:first-child{
    border-right: 1px solid  #B2B2B2;;
}


/************** Icons ****************/
.aut{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.feat span{
    display: inline-block;
    vertical-align: center;
}
.aut::after{
    content: "\00a0";
}
.aut.aut-door{
    background-image: url(../icons/aut-door.png);
}
.aut.aut-pax{
    background-image: url(../icons/aut-seats.png);
}
.aut.aut-lug{
    background-image: url(../icons/aut-bags.png);
}
.aut.aut-ac{
    background-image: url(../icons/aut-ac.png);
}
.aut.aut-trans-manual{
    background-image: url(../icons/aut-trans-manual.png);
}
.aut.aut-trans-auto{
    background-image: url(../icons/aut-trans-auto.png);
}

/*********** Custom Responsive Design ***********/
@media screen and (max-width: 992px){
    .step-pill h2{
        font-size: 1.3em;
    }
}
@media screen and (max-width: 768px){
    .ribbon h2{
        font-size: 1.1em;
    }
    .h1-step-1{
        font-size: 1.3em;
    }

}